@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@400;700;900&family=REM:wght@500;700&display=swap');
body, img {
    margin: 0;
    padding: 0;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    height: 100vh; /* 100% of viewport height for vertical centering */
    flex-wrap: wrap; /* Allow images to wrap to the next line if the viewport is too narrow */
}

.background_img{
    bottom: 0;
    left: 0;
    transform: translateY(20%);
    background-size: cover;
    opacity: 0.85;
    z-index: -1;
    position: fixed;
  }

/* Style the image boxes */
.image-box {
    text-align: center;
    margin: 0 20px 0 20px ; /* Add some spacing between image boxes */
    width: 15%; /* Set the width to 15% */
    box-sizing: border-box; /* Include padding and border within the width */
    cursor: pointer;
}

/* Make the images responsive */
img {
    max-width: 100%; /* Ensure images don't exceed their container's width */
    height: auto; /* Maintain aspect ratio */
    width: 100%; /* Set image width to 100% of the container */
}

/* Style the labels */
p {
    margin: 5px 0; /* Add spacing above and below the label */
    font-weight: bold; /* Make the label text bold */
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: 'Outfit';

}
